<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <script language="javascript" type="text/javascript" src="lib/angularjs/js/angular.js"></script>
        <script language="javascript" type="text/javascript" src="index.js"></script>
    </head>
    <body ng-controller="IndexCtrl">


        <button ng-click="readEntidadesBancarias()">Read Entidades Bancarias</button>
        <table>
            <tr>
                <td>ID</td>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Cif</td>
                <td>Tipo Entidad</td>
            </tr>
            <tr ng-repeat="entidadBancaria in entidadesBancarias">
                <td>{{entidadBancaria.idEntidadBancaria}}</td>
                <td>{{entidadBancaria.codigoEntidad}}</td>
                <td>{{entidadBancaria.nombre}}</td> 
                <td>{{entidadBancaria.cif}}</td>   
                <td>{{entidadBancaria.tipoEntidadBancaria}}</td>
            </tr>

        </table>
    </body>
</html>
